/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: "MS Gothic", Verdana;
  display: flex;
  flex-direction:column;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

#links a {
  margin-right: 15px;
  text-decoration: none;
}

/* #links { */
	/* column-count: 2; */
	/* column-gap: 40px; */
/* } */

li a:hover {
  background-color: #111111;
  color: #ffffff;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 50% 6px;
}

hr {
  border: none;
  height: 1px; /* Adjust the thickness of the line */
  width: 20vw;
  background-color: #c0c0c0; /* Set the color of the line */
  margin: 20px 0; /* Add spacing above and below the line */
}

#webring {
  position: fixed;
  bottom: 5%; /* 5% margin from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Move back 50% of its own width */
}

#movable-window {
  position: fixed;
  top: 50px; /* Adjust as needed */
  right: 50px; /* Adjust as needed */
  width: 300px; /* Adjust as needed */
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
  z-index: 1000;
  padding: 10px;
  overflow-y: auto;
  cursor:move;
}

/* Styling for the toots list */
#toots-list {
  list-style: none;
  padding: 0;
}

#toots-list li {
  margin-bottom: 10px; /* Add margin between each toot */
}

#toots-list p {
  word-wrap:break-word;
  overflow-wrap:break-word; /*prevent horizontal scrollbar*/
}

/* CSS to hide the movable window on mobile devices */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  #movable-window {
    display: none;
  }
}

